[target.'cfg(all(target_arch = "arm", target_os = "none"))']
rustflags = [
  "-C",
  "link-arg=--nmagic",
  "-C",
  "link-arg=-Tlink.x",
  "-C",
  "link-arg=-Tmemory.x",
  # Code-size optimizations.
  # This requires nightly atm.
  # "-Z",
  # "trap-unreachable=no",
  "-C",
  "llvm-args=--inline-threshold=5",
  "-C",
  "no-vectorize-loops",
  "-C",
  "force-frame-pointers=no",
]
# Dummy probe ID to prevent actually running the test every time we rebuild.
runner = "target-gen test --probe 1234:4321 template.yaml target/definition.yaml"

[build]
target = "armv7a-none-eabi"
